.articles-wrapper {
  display: none;
  margin: 0 auto;
  list-style: none;

  .article {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    padding: 1rem 0;
    width: 90%;
    margin: 0 auto;
    @media screen and (min-width: $tablet) {
      width: 80%;
    }

    &:first-child {
      margin-top:2rem;
    }

    &:last-child {
      margin-bottom:2rem;
    }

    &__date {
      display: inline-block;
      padding: 0.5rem 2rem 0.5rem calc(2rem + #{$article-border-width});
      font-size: 1rem;
      color: $gray;
    }

    &__content-container {
      flex-basis: 80%;
      flex-grow: 1;
      padding-left: 2rem;
      border-left: $article-border-width solid $cinnabar;
    }

    &__title {
      margin: 0;
      font-size: 2rem;
      font-weight: 700;
      color: $denim;

      &:hover {
        text-decoration: none;
      }
    }

    &__title-link {
      text-decoration: none;
    }

    &__excerpt {
      display: block;
      margin: 1rem 0 0;
      font-size: 1.2rem;
      color: #000;
    }

    &__link {
      text-decoration: none;

      &--title {
        color: $astral;
        &:hover {
          color: darken($astral, 20%);
        }
      }

      &--more {
        display: inline-block;
        margin-top: 1rem;
        border-bottom: 4px solid transparent;
        font-size: 1.2rem;
        font-weight: 700;
        color: #000;

        &:hover {
          border-color: $denim;
        }
      }
    }
  }
}
