.footer {
  &__text {
    text-align: center;
    color: $denim;
  }
  &__link {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}
