.footer {
  background-color: $gallery;
  padding: 1rem;
  &__text {
    text-align: center;
    color: $gray;
    margin: 0;
  }
  &__link {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: darken($gray, 20%);
    }
  }
}
