.header {
  display: none;
  padding: 1rem 0;
  background-color: $gallery;

  &__text {
    margin: 0;
    font-size: 2.2rem;
    text-align: center;
    color: $gray;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: darken($gray, 20%);
    }
  }
}
