html {
  font-size: 12px;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
}

body {
  font-family: 'Lato', sans-serif;
  color: #000;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

.date {
  text-align: center;
  font-size: 0.8rem;
}

.text p{
  display: block;
  margin: 0!important;
  font-size: 1.2rem;
}

.link {
  //display: inline-block;
  font-size: 1.2rem;
  font-weight: 900;
  color: black!important; //overriding Bootstrap
  text-decoration: none!important; //overriding Bootstrap
  border-bottom: 2px solid black;
  &:hover {
    border-width:4px;
  }
}