html {
  font-size: 12px;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
}

body {
  font-family: 'Lato', sans-serif;
  color: #000;
}

a {
  &:hover, &:focus {
    text-decoration: none !important; //overriding Bootstrap
  }
}

.title {
  font-size: 2rem;
  margin: 0;
  color: $denim;
  font-weight: 700;
  &:hover {
    text-decoration: none;
  }
}

.date {
  font-size: 1rem;
  color: $gray;
  margin: 1rem 0 0 30px;
  @media screen and (min-width:$notebook) {
    margin-left: 0;
  }
}

.text p{
  display: block;
  font-size: 1.2rem;
  color: #000;
  margin: 1rem 0 0;
}

.link {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  color: black!important; //overriding Bootstrap
  border-bottom: 4px solid transparent;
  margin-top: 1rem;
  &:hover {
    border-color: $denim;
  }
}