@import "_variables";
@import "_typography";
@import "_buttons";
@import "_loader";



body {
  background-color: #fff;
}

.container {
  margin: 0 auto;
  width: 90%;
  @media screen and (min-width:$tablet) {
    width: 80%;
  }
  @media screen and (min-width:$desktop) {
    width: 60%;
  }
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  &__item {
    overflow: auto;
    transition: 0.5s;
    border-bottom: 2px solid black;
    &:hover {
      background-color: #eee;
    }
  }
}

.date {
  display: inline-block;
  padding: 0.5rem;
  background-color: $silver;
  border-radius: 5px;
  color: #000;
}

